.cards {
    background: #FFE7B1;
  }
  
  .title{
    color: #00ACDE;
    font-style: bold;
    font-size: 17px;
    margin-left: 12%;
}

.find{
    color: black;
    font-style: bold;
    font-size: 35px;
    margin-left: 12%;
    margin-bottom: 50px;
}
  .gymbuddy_image {
    /* position: absolute; */
    margin-top: 55px;
    margin-left: 24px;
    right: 0;
    bottom: 0;
    left: 20%;
    width: 256px;
    height: 400px;
    object-fit: cover;
    transition: all 0.2s linear;
    
  }

  .arrow-top {
    margin-top: 100px;
    margin-left: 300px;
    width: 40px;
    height: auto;
    object-fit: cover;
  }

  .arrow-bottom {
    margin-left: -250px;
    width: 25px;
    height: auto;
    object-fit: cover;
    margin-bottom: 10px;
    margin-top: -100px;
    /* margin-bottom: 50px; */

  }

  .cards__item__inner{
    width: 600px;
    display: flex;
    /* margin: auto; */
}
.step_title{
    width: 200px;
    font-size: 17px;
    line-height: 17px;
    text-align: left;
    margin-left: 50px;
    margin-top: 20px;
    margin-left: 75px;
    font-weight: 400;
    /* margin-bottom: 50px; */

}

  .cards__item__text {
    color: #252e48;
    font-size: 12px;
    line-height: 17px;
    margin-left: 77px;
    margin-right: 27px;
    text-align: left;
    margin-top: 8px;
  }

  .rows {
    display: flex;
    margin: auto;
    width: max-content;
  }

  .not-rows {
    display: flex;
    margin: auto;
    width: 1200px;
}

.index-container {
    background: #FFFAEF;
    justify-content: center;
    top: 0;
    z-index: 999;
    /* width: 100%; */
    width: 340px;
    height: 150px;
    margin-top: 50px;
    border-radius: 20px;
    /* margin-bottom: 50px; */
    margin-top: 120px;
    margin-bottom: 150px;

  }